body {background-color: #e3d5b8;}

*{
margin: 0;
padding: 0;
list-style-type: none;
}
h1 {
  font-family: "fleur", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 5em;
  margin-left: 8.5em;
}

nav{
  display: flex;
  }

nav ul{
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  gap: 0.8em;
  background-color:#d7a278;
  }
  
  
nav a{
   text-decoration: none;
   margin: 7.4em;
   color: black;
   font-family: "factoria", serif;
  }

nav a:hover{
color: white;
transition: color 1ms;
border-radius: 5%;
padding: 5% 10%;
background-color: black;
}

  
main {
  font-family: "factoria", serif;
  font-weight: 400;
  font-style: italic;
  }

.lineen img:hover{
transform: scale(1.1);
}
.lineen section:first-of-type {
display:flex;
flex-direction: column;
background-color: #679499;
margin-bottom: 1em;
}

.lineen h2:first-of-type{
text-align: center;
}

.aboutus {
  display:flex;
  flex-wrap: wrap;
  }
.aboutus div{
display: flex;
flex-wrap: wrap;
}

  .aboutus h2{
  flex: 1;
  text-align: center;
  background-color: #679499;
  padding: 1em;
  }
  .aboutus section{
  flex-direction:row;
  padding: 1em;
  background-color: #679499;
  width: 28em;
  margin: 0.6em;
  }

.aboutus section:hover{
  transform: scale(1.1);
  background-color:#b2cdd1;
  }

@keyframes scale{
 0% {transform:scale(2);}

 100% {transform:scale(1)}
 }

 img{animation:scale 1s ease-in ;}


.aboutus section a{
color: black;
background-color:#d7a278;
border-radius: 10%;
}
.aboutus section a:hover{
  color: white;
  margin: 1em;
  transition: color 0.2s;
  border-radius: 10%;
  padding: 1% 1%;
  background-color:black;
  }

.musicalbums div:first-of-type{
display: flex;
flex-wrap: wrap;
flex-direction: row;
margin-bottom: 5em;
}
.musicalbums div:first-of-type section:hover{
  transform: scale(1.1);
  background-color:#b2cdd1;
  }

.musicalbums h2{
  flex: 1;
  text-align: center;
  padding-bottom: 1em;
}

.musicalbums section{
  margin: 0.2%;
  padding: 0.5%;
  background-color: #679499;
}

 .musicalbums div:last-of-type h3{
  text-align: center;
  padding: 1em; 
  }
.musicalbums a{ 
 color: black;
 background-color:#d7a278;
 border-radius: 10%;
 padding: 1em;
}

.musicalbums a:hover{
  color: white;
  background-color:black;
  border-radius: 10%;
  margin: 1em;
}

.merchpagina ul{
display: flex;
flex-wrap: wrap;
}


.merchpagina section{
background-color: #679499;
margin: 1em;
}
.merchpagina h2{
text-align: center;
}

.merchpagina li{
justify-content: space-around;
margin: 5em;
background-color:#b2cdd1;
padding:1%;
transition: 5ms;
}

.merchpagina li:hover{
transform: scale(1.2);
}

.boxsocials{
  display: block;
  flex-direction:column;
 }

  
.boxsocials a{
  color: black;
  background-color:#d7a278;
  border-radius: 10%;
  padding: 1em;
 }
  .boxsocials a:hover{
    color: white;
    background-color:black;
    border-radius: 10%;
    padding: 1em;
    margin: 2em;
 }
 .boxsocials img:hover{
  transform: scale(1.1);
 }

.boxsocials section:last-of-type img{
margin-top: 2em;
 }
.boxsocials section ul{
justify-content: space-around;
}
 .boxsocials h2 {
  text-align: center;
 }
 .boxsocials ul{
  display: flex;
  }
 .boxsocials ul li{
  margin-top: 2em;
  margin: 2em 2em;
 }

 .boxsocials section{
  margin-bottom:10em;
  padding-bottom: 1em;
  background-color: #679499;
 }

 .boxsocials section:last-of-type{
 margin-bottom: 1em;
}

.lineen section:last-of-type{
display: flex;
flex-direction:row;
flex-wrap: wrap;
padding: 1em;
 }
 
.lineen section:last-of-type > *{
 flex: 1 1 20em;
 padding: 2em;
 background-color: #679499;
}

.musicalbums div:last-of-type ul{
display:flex;
}
.musicalbums div:last-of-type ul ,li{
justify-content:space-around
}

.musicalbums div:last-of-type section{
margin-top: 1em;
padding: 2em;
 }

footer{
display: block;
margin-top: 1em;
max-width: 100%;
background-color: #d7a278;
}

footer a{
color:black
}

footer a:hover{
color: white;
}

footer a:active{
color:blue
}
footer a :visited{
color: purple;
}


