body {background-color: #e3d5b8;}

*{
margin: 0;
padding: 0;
list-style-type: none;
}
h1 {
  font-family: "fleur", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5em;
  padding: 0.5em;
  font-display: flex;
  margin-left: 40%;
}
nav{
  display: flex;
  }
  
nav ul{
  list-style-type: none;
  display: flex;
  padding: 2em;
   background-color:#d7a278;
  }
  
  
nav a{
   text-decoration: none;
   margin: 8em;
   color: black;
   font-family: "factoria", serif;
  }

nav a:hover{
color: white;
transition: color 0,3s;
border: none;
padding: 10% 10%;
background-color: black;
}


  
main {
  font-family: "factoria", serif;
  font-weight: 400;
  font-style: italic;
  }


.lineen section:first-of-type {
display:flex;
flex-direction: column;
background-color: #679499;
margin-bottom: 1em;
}

.lineen h2:first-of-type{
text-align: center;
}

footer {
  display: flex;
  background-color: #679499;
  padding-right: 5em;
}

.aboutus {
  display:flex;
  flex-wrap:wrap;
  }
  .aboutus div{
  display: flex
  }

  .aboutus h2{
    flex: 1;
  text-align: center;
  background-color: #679499;
  padding: 0,5em;
  }
  .aboutus section{
  flex-direction:row;
  padding: 1.2em;
  background-color: #679499;
  margin-top: 0em;
  width: 28em;
  margin: 0.6em;
  }
  
.aboutus section a{
color: black;
background-color:#d7a278;
border-radius: 10%;
}
.aboutus section a:hover{
  color: white;
  margin: 1em;
  transition: color 0.2s;
  border-radius: 10%;
  padding: 1% 1%;
  background-color:black;
  }

.musicalbums div{
display: flex;
flex-wrap: wrap;
flex-direction: row;
}
.musicalbums h2:first-of-type{
  flex: 1;
  text-align: center;
}

.muziekenmeer h2{
  flex: 1;
  text-align: center;
  padding: 1em; 
  background-color: #679499;
  }
.musicalbums section{
  margin: 0.2%;
  padding: 0.5%;
  background-color: #679499;
}

  
  .muziekenmeer h3{
   flex: 1;
  text-align: center;
  margin: 1em; 
  padding: 1em; 
  background-color: #679499;
  }
.muziekenmeer a{ 
 color: black;
 background-color:#d7a278;
 border-radius: 10%;
}

.muziekenmeer a:hover{
  color: white;
  background-color:black;
  border-radius: 10%;
  margin: 1em;
}

  .muziekmerch{
  display:flex;
  }

  .muziekmerch, section{
  flex-direction: column;
  }

.muziekmerch section{
background-color: #679499;
margin: 1em;
}

.muziekmerch ul{
display: flex;
}

.muziekmerch ul ,li{
justify-content: space-around;
}

  .muziekmerch img{
  margin: 5em;
  background-color:#b2cdd1;
  padding: 1em;
  transition: 0,5;
  width: 18%;
  }

  .muziekmerch img:hover{
transform: scale(1.2);
  }


.text{
flex: 1;
text-align:center;
margin: 5em; 
padding: 5em; 
background-color: #679499;
}
   

.boxsocials{
  display: block;
  flex-direction:column;
  }

  .boxsocials a{
    color: black;
    background-color:#d7a278;
    border-radius: 10%;
  }
  .boxsocials a:hover{
    color: white;
    background-color:black;
    border-radius: 10%;
    margin: 1em;
  }
 .boxsocials h2 {
  text-align: center;
 }
 
 .boxsocials ul{
 display: flex;
 justify-content: center;
 }
 .boxsocials ul li{
  justify-content: space-between;
  flex-direction: row;
  margin-top: 2em;
  margin-right: 7em;
  margin-left: 7em;
 }

 .boxsocials section{
  margin-bottom:10em;
  padding-bottom: 1em;
  background-color: #679499;
 }

 .boxsocials section:last-of-type{
 padding-bottom: 1em;
 margin-bottom: 1em;
}


 .lineen section:last-of-type{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  padding: 1em;
 }
 
 .lineen section:last-of-type > *{
   flex: 1 1 20em;
   padding: 2em;
   padding-left: 1em;
   background-color: #679499;
 }
 
.muziekenmeer section ul{
display: flex;
}
.muziekenmeer section ul ,li{
justify-content:space-around
}

.muziekenmeer section ul{
  display:flex;
  }
.muziekenmeer section ul ,li{
  justify-content:space-around
  }

footer{
display: block;
width: 90%;
margin-top: 1em;
width: 95%;
}

footer a{
color:black
}

footer a:hover{
color: white;
}

footer a:active{
color:blue
}
footer a :visited{
color: purple;
}


